.prelative.container {
    max-width: 1410px;
    padding: 0;
    margin: 0auto;
    display: block;
}

.header {
    margin-top: 20px;
}

//TEMPLATE CLASS//


.box {
    .box-title {
        border: 1px solid #e8e8e8;
        padding: 0px 20px;

        .title {
            text-align: center;
            padding: 5px;
            background-color: #02a384;
            width: 110px;
            min-height: 30px;
            text-transform: uppercase;

            p {
                font-weight: bold;
                font-size: 15px;
                color: #ffffff;
                margin: 0;
                padding: 0px 10px;
            }
        }
    }

    .box-content {
        border: 1px solid #e8e8e8;

        .image {
            width: 100%;
        }

        .title {
            font-weight: bold;
            font-size: 15px;
        }

        .date {
            color: #a9a9a9;
            font-size: 13px;
        }

        .description {
            color: #a9a9a9;
            font-size: 14px;

        }
    }
}


nav.nav-bread {
    ol.breadcrumb {
        li.breadcrumb-item a {
            color: #a9a9a9;
            font-size: 15px;
        }

        .active {
            font-weight: 700;
            font-size: 15px;
        }
    }
}

.image {
    width: 100%;
}

.title-category {
    padding-left: 20px;
    font-size: 25px;
    text-transform: uppercase;
}

.title-news {
    .line {
        float: left;
        margin-top: 10px;
    }

    p {
        padding-left: 20px;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
    }

}

.detail-news {
    padding-left: 10px;

    .green {
        color: #00a482;
        font-size: 11px;
    }

    .grey {
        color: #a9a9a9;
        font-size: 11px;
    }

    .btn-blue {
        float: right;
        background-color: #4990e2;
        color: #ffffff;
    }
}

.sumber-image {
    color: #a9a9a9;
    font-size: 15px;
    font-style: oblique;
}

.tags {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;

    .btn-grey {
        color: #ffffff;
        font-size: 11px;
        background-color: #9e9e9e;
        height: 25px;
        padding: 0 10px;
    }
}

.pagination {
    display: inline-block;
    float: right;
    text-decoration: none;
}

.pagination a {
    color: #000000;
    padding: 6px 10px;
    background-color: #e9e9e9;
    border-radius: 7px;
}

.pagination a:hover {
    color: #ffffff;
    background-color: #02a384;
    text-decoration: none;
}

.pagination a.active {
    color: #ffffff;
    background-color: #02a384;
}

//

section.right-templates {
    .atas {
        width: 100%;
    }

    .btn-green {
        background-color: #00a482;
        color: #ffffff;
        border-radius: 0%;
        height: 30px;
    }

    .btn-default {
        border-radius: 0%;
        margin-left: -4px;
        height: 30px;
    }

    .post-content {
        border: 1px solid #e8e8e8;
        width: 370px;

        .post {
            max-width: 370px;
            margin: 0;

            img {
                float: left;
                margin-right: 20px;
            }

            .title {
                font-size: 15px;
                font-weight: bold;
            }

            .date {
                font-size: 15px;
            }
        }
    }

    .opini-box {
        .opini-title {
            border: 1px solid #e8e8e8;
            padding: 0px 20px;

            .title {
                text-align: center;
                padding: 5px;
                background-color: #02a384;
                width: 110px;
                min-height: 30px;
                text-transform: uppercase;

                p {
                    font-weight: bold;
                    font-size: 15px;
                    color: #ffffff;
                    margin: 0;
                    padding: 0 10px;
                }
            }
        }

        .opini-content {
            border: 1px solid #e8e8e8;
            min-height: 472px;

            img {
                width: 100%;
            }

            .title {
                font-weight: bold;
                font-size: 15px;
            }

            .date {
                color: #a9a9a9;
                font-size: 13px;
            }

            .description {
                color: #a9a9a9;
                font-size: 13px;
            }
        }
    }

    .polling-box {
        .polling-title {
            border: 1px solid #e8e8e8;
            padding: 0px 20px;

            .title {
                text-align: center;
                padding: 5px;
                background-color: #02a384;
                width: 110px;
                min-height: 30px;
                text-transform: uppercase;

                p {
                    font-weight: bold;
                    font-size: 15px;
                    color: #ffffff;
                    margin: 0;
                    padding: 0 10px;
                }
            }
        }

        .polling-content {
            border: 1px solid #e8e8e8;

            label {
                font-size: 12px;
            }

            .radio {
                font-size: 10px;
            }

            .btn-orange {
                background-color: #fab442;
                color: #000000;
                width: 90px;
                padding: 5px 0px;
                margin-top: 5px;
            }
        }
    }
}


section.homepage {
    .content-atas {
        a {
            text-decoration: none;
            color: #4e4e4e;
        }

        a:hover {
            color: #02a384;
        }

        .content {
            width: 100%;
            min-height: 105px;
            border: 1px solid #e8e8e8;
            padding: 10px;

            img {
                float: left;
                padding-right: 8px;
            }

            .title {
                p {
                    margin: 0;
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .description {
                p {
                    font-size: 12px;
                    color: #cbcbcb;
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-utama {
        a {
            text-decoration: none;
            color: #4e4e4e;
        }

        a:hover {
            color: #02a384;
        }


        margin-top: 30px;

        .editorial-box {
            .box-content {
                min-height: 472px;

            }
        }
    }

    .content-jatim {
        .content {
            max-width: 230px;
        }

        .jatim-small-content {
            padding: 0;

            .content-post {
                padding-bottom: 10px;
                float: left;
                max-width: 330px;

                img {
                    float: left;
                    margin-right: 10px;
                }

                .title {
                    font-weight: bold;
                    font-size: 15px;
                }

                .date {
                    color: #a9a9a9;
                    font-size: 13px;
                }
            }
        }
    }

    .content-berita-foto {
        .col-md-6 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

section.detail-berita-foto {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }
}

section.detail-news-page {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }

    .berita-terkait {
        width: 340px;
        float: left;
        margin-right: 25px;
        margin-bottom: 15px;
    }
}

section.detail-news-video-page {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }

    .video-thumbnail {
        position: relative;
        left: 0;
        top: 0;
    }

    .back {
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.5);

        position: relative;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
    }


    .front {
        position: absolute;
        max-width: 45%;
        max-height: 45%;
        top: 45%;
        left: 45%;
    }



    .front2 {
        position: absolute;
        max-width: 45%;
        max-height: 45%;
        top: 30%;
        left: 40%;
    }

}

section.about-sec-1 {

    .title-tentang-kami {
        font-size: 30px;
        font-weight: 700;
    }

    .name-company {
        font-size: 36px;
        font-weight: 700;
    }

    .web-address {
        font-size: 25px;
        font-weight: 700;
    }

    .label-owner {
        font-size: 18px;
        color: #0da076;
        padding-bottom: 10px;
    }

    .nama-owner {
        font-size: 18px;
    }

    .nama-owner-2 {
        font-size: 18px;
        font-weight: 700;
    }

    .online {
        font-size: 25px;
        font-weight: 700;
    }
}

section.indeks-berita {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }

    .detail-blog-content {
        .col-md-7 {
            padding: 0;
        }



        .teks-view {
            font-size: 14px;
        }

        .form-group {
            border: none;

            .form-control {
                border: 1px solid #00a482;
                background-color: #f7f7f7;
                height: 25px;
                padding: 0;
                border-radius: 0;
                padding-left: 5px;
            }
        }
    }

    .box {
        .box-content {

            .image2 {
                max-height: 160px;
                width: auto;
                float: left;
                margin-right: 20px;
            }

            .title {
                font-size: 20px;
                font-weight: bold;
            }

            .date {
                font-size: 15px;
            }

        }
    }

    .btn-green {
        background-color: #00a482;
        color: #ffffff;
        border-radius: 0%;
        height: 30px;
    }
}

section.search-sec {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }

    .detail-blog-content {
        .title-news {
            margin-bottom: 30px;
        }

        .hasil-pencarian {
            font-size: 16px;
            display: inline;

            .result {
                float: left;
            }

            .sortir {
                float: right;

                .col-md-6 {
                    margin: 0;
                    padding: 0;
                }

                .sortir-text {
                    text-align: right;
                    padding-right: 10px;
                }

                .form-group {
                    float: left;
                    border: none;

                    .form-control {
                        border: 1px solid #00a482;
                        height: 25px;
                        padding: 0;
                        border-radius: 0;

                    }
                }

            }
        }
    }

    .content-search {
        .post {
            border: 1px solid #e8e8e8;
            min-height: 260px;

            .title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .date {
                font-size: 14px;
                color: #a9a9a9;

            }

            .image2 {
                max-height: 160px;
                width: auto;
                float: left;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .desc {
                font-size: 15px;
                font-weight: 400;
            }

        }


    }
}

section.kanal-kategori {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }

    .detail-blog-content {
        .title-artikel {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.2;
        }

        .tanggal-image {
            color: #a9a9a9;
            font-size: 15px;
        }
    }

}

section.berita-foto {
    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #02a384;
    }

    .content-berita-foto {
        .image {
            padding-bottom: 15px;
        }

        .title {
            font-size: 20px;
            font-weight: 700;
            min-height: 60px;
        }

        .date {
            color: #a9a9a9;
            font-size: 15px;
        }
    }
}

section.disclaimer {
    .title-news-2 {
        margin-top: 40px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .line {
        margin-top: 40px;

        img {
            margin: 0 auto;
            display: block;
        }
    }


    .isi {
        line-height: 1.3;
        margin: 0 auto;
        display: block;
        max-width: 700px;
        margin-top: 70px;
        font-size: 18px;
        line-height: 1;
        text-align: center;
    }
}

section.kontak {
    .title-news-2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .line {
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            margin: 0 auto;
            display: block;
        }
    }

    .pt {
        margin-bottom: 40px;

        .atas {
            font-size: 24px;
            font-weight: 700;
            text-align: center;

        }

        .bawah {
            font-size: 24px;
            font-weight: 700;
            text-align: center;

        }
    }

    .kontak {
        .title {
            font-size: 20px;
            color: #0da076;
            font-weight: 700;
        }

        p {
            font-size: 20px;
        }
    }
}

section.pedoman {
    .title-news-2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .line {
        margin-top: 40px;

        img {
            margin: 0 auto;
            display: block;
        }
    }

    .isi {
        padding-top: 40px;
        display: block;
        margin: 0 auto;
        max-width: 970px;

        h2 {
            font-size: 20px;
            font-weight: 700;
        }

        p {
            font-size: 13px;
        }

        ul li {
            font-size: 13px;
        }

        .jakarta {

            padding-top: 20px;
            font-size: 14px;

        }

        .pers {
            padding-top: 20px;
        }
    }

}