.clear-height-5 {
    margin-top: 5px;
}

.clear-height-8 {
    margin-top: 8px;
}

.clear-height-10 {
    margin-top: 10px;
}

.clear-height-15 {
    margin-top: 15px;
}

.clear-height-20 {
    margin-top: 20px;
}

.clear-width-20 {
    margin: 20px 20px;
}

.clear-20 {
    margin: 20px 0px;
}

.clear-height-2 {
    margin: 18px 2px;
}

.clear-height-7 {
    margin-top: 7px;
}

.col-height-fix {
    margin-top: 25px;
    margin-left: -16px;
}

.clear-weight-6 {
    margin: 0px 6px;
}

.clear-weight-10 {
    margin: 10px 10px;
}

.clear-weight-10-25 {
    margin: 10px 25px;
}

.clear-weight-14 {
    margin: 14px 14px;
}



.clear-height-29 {
    margin-top: 29px;
}

.clear-height-30 {
    margin-top: 30px;
}

.clear-height-20 {
    margin-bottom: 20px;
}

.clear-height-13 {
    margin: 13px 0;
}

.clear-height-22 {
    margin: 22px 20px;
}

.clear-height-25 {
    margin-top: 25px;
}

.clear-padding-20 {
    padding: 20px 20px;
}

.clear-weight-5 {
    margin: 20px 3.5px;
}

.clear-height-15 {
    margin: 15px 15px;
}

.clear-weight-17 {
    margin: 22px 17px;
}

.clear-weight-20 {
    margin: 22px 17px;
}

.clear-weight-25 {
    margin: 25px 25px;
}